{% extends "Hospital/index.html" %}

{% block content %}
{% load static %}
<body style="background: None;">

 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark " id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger ml-5" href="">Hospital System Management</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'doctor_logout' %}">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

 <div class="Sidebar" style="background: dark;">
   <div class="row">


     <div class="col-md-0 bg-success" >
       <div class="row">
         <div class="container text-center offset-lg-2"> <img src="{% static 'Hospital/images/me.png' %}" class="mr-5 rounded-circle" alt="me"></div>
       </div>

         <h4 class="text-capitalize mt-2 text-center text-white">Doctor {{ request.user }}</h4>

       <div class="row">
          <div class="container text-center mt-5">
         <a href="{% url 'doctor_home' %}" class="btn bg-success mb-2 ml-3" style="width: 300px;"><h5 class="text-white">Dashbord</h5></a><br>
         <a href="{% url 'doctor_patient' %}" class="btn bg-success mb-2 ml-3 text-white" style="width: 300px;"><h5 class="text-white">Patient</h5></a><br>
         <a href="{% url 'doctor_appointment' %}" class="btn bg-success mb-2 ml-3 text-white" style="width: 300px;"><h5 class="text-white">Appointment</h5></a><br>
       </div>

       </div>

     </div>

     <div class="col-md-9 ">
       <div class="container mt-5">
              <div class="row">

                <div class="col">
                  <div class="card" style="background: #38A7E0;">
                    <div class="card-block">
                        <h6 class="btn m-b-20 text-center mt-3 text-white">All appointment:
                          <h1 class="text-center text-white">{{ num_appointment }}</h1> </h6>
                      <br>
                      <h2 class="text-right"><i class="fas fa-user-nurse f-left"></i></h2>

                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card" style="background: #4BED1E;">
                    <div class="card-block">
                        <h6 class="btn m-b-20 text-center mt-3 text-white">Patient Under Responsibility:
                        <h1 class="text-center text-white">{{ num_patient }}</h1></h6>
                      <br>
                      <h2 class="text-right"><i class="fas fa-check-circle f-left"></i></h2>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card " style="background: #FC6E57;">
                    <div class="card-block">
                        <h6 class="btn m-b-20 text-center mt-3 text-white">Patient Discharged
                        <h1 class="text-center text-white">{{ num_patient_discharged }}</h1></h6>
                      <br>
                      <h2 class="text-right"><i class="fas fa-user-md f-left"></i></h2>
                    </div>
                  </div>
                </div>

              </div>

         <div class="row mt-5">

           <div class="col">
             <table class="table table-hover" >
                  <thead style="background: #38A7E0;">
                  <h4 class="text-center"><u>Recent Appointment</u></h4>
                    <tr>
                      <th>Name</th>
                      <th>Symptom</th>
                      <th>Mobile</th>
                      <th>Status</th>
                    </tr>
                  </thead>

                  <ul>
                    {% for p in all_appointment %}
                    <li style="list-style: none;">
                      <tr>
                        <td> {{ p.patient_name }}</td>
                        <td>{{ p.description }}</td>
                        <td>{{ p.mobile}}</td>
                        {% if p.status %}
                          <td> <span class="text-success"><b>Ongoing</b></span></td>
                        {% else %}
                          <td> <span class="text-danger"><b>Deleted</b></span></td>
                        {% endif %}

                      </tr>
                    </li>
                    {% endfor %}
                  </ul>

                </table>
           </div>

         </div>




            </div>


     </div>

       </div>
     </div>
   </div>
 </div>



 </div>



{% endblock %}